.Home{
  background: #eee;
  min-height: 100vh;
}
.Home h1{
  padding: 20px 0 10px;
  font-size: 2rem;
  background-color: #555;
  color: white;
}
.Home h2{
  font-size: 1.2rem;
  padding-top: 20px;
  padding-bottom: 10px;
}
.Home .start a{
  padding: 10px;
  background: #18f;
  color: white;
  border: none;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
}
.Home .start a:hover{
  background: #2af;
}
.Home .start a:focus{
  background: #07f;
}
.Home .start a:focus{
  box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}
.Home > .Left{
  width: 80%;
  text-align: left;
  margin: 0 auto;
  overflow: auto;
}
.Home .start{
  margin: 20px 0 0;
}
.Home .existingGames{
  margin: 20px 0 0;
  background: white;
  overflow: auto;
}
.Home .existingGames > .games{
  width: 80%;
  margin: 10px auto;
  border: 4px solid #ddd;
  padding: 0;
}
.Home .existingGames > .games > table{
  width: 100%;
}
.Home .existingGames > .games > .block{
  display: block;
  padding: 20px;
}
.Home .existingGames > .games > .block.gameLink{
  text-decoration: none;
  color: inherit;
}
.Home .existingGames > .games > .block.gameLink:hover{
  background: #fafafa;
}
.Home .games > table{
  border-collapse: collapse;
}
.Home .games > table > tbody > tr{
  cursor: pointer;
}
.Home .games > table > tbody > tr:hover{
  background-color: #fafafa;
}
.Home .games > table td, .Home .games > table th{
  padding: 6px;
}
.Home > footer{
  color: #aaa;
  padding: 50px;
  background: white;
}
.Home > footer a{
  color: inherit;
}
