.GameBoard{
  position: relative;
  display:flex;
  justify-content: center;
}
.GameBoard > .mainBoard > .row{
  display: flex;
  justify-content: center;
}
.GameBoard > .dice{
  margin-left: 40px;
  font-size: 2em;
}
.GameBoard > .dice h2{
  font-size: 1.2rem;
  font-weight: 400;
}
